body, html {
	width: 100%;
	height: 100%;
	font-family: sans-serif;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

button:hover {
	cursor: pointer;
}

.petshop-container {
	margin-left: 15%;
	min-height: 70%;
	width: 70%;
	border: 1px solid #000;
	background: rgb(194, 224, 217);
	position: relative;
}

.top-categories {
	margin-top: 10px;
	margin-left: 10%;
	width: 80%;
	display: flex;
	justify-content: space-between;
	max-height: 300px;
}

.pets-container-main {
	margin-top: 20px;
	margin-left: 5px;
	position: relative;
}

.main-categories {
	margin-left: 10%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.category, .pet {
	color: #fff;
}

.top-category {
	text-align: center;
	background: rgb(39, 173, 250);
	padding: 0 10px;
	width: 250px;
}

.top-category ul {
	max-height: 125px;
	box-sizing: border-box;
	overflow: auto;
}

.top-category .pet:hover {
	background: rgb(146, 211, 248);
}

.cart-button {
	position: absolute;
	left: 10%;
	bottom: 10px;
	width: 100px;
	height: 50px;
	background: rgb(86, 179, 155);
	text-align: center;
	color: #fff;
	font-weight: bold;
}

.cart-button:hover {
	cursor: pointer;
	background: rgb(72, 199, 167);
}

.main-category {
	width: 100%;
	padding: 0 5px;
	text-align: center;
	background: rgb(10, 177, 60);
}

.main-category:hover {
	cursor: pointer;
	background: rgb(109, 235, 147);
}

.pets-container {
	height: auto;
	margin: 0 5px;
	background: rgb(109, 235, 147);
	text-align: center;
	padding: 0 5px;
}

.pets-container .pet {
	color: #000;
}

.pets-container .pet:hover {
	background: rgb(211, 247, 221);
}

.pet:hover {
	cursor: pointer;
}

.pet-details {
	background: rgb(141, 224, 217);
	width: 200px;
	height: 200px;
	padding: 0 10px;
	position: absolute;
	right: 20%;
}

.cart {
	background: rgb(141, 224, 217);
	width: 200px;
	height: 200px;
	padding: 0 10px;
	position: absolute;
	right: 20%;
}

.cart li {
	margin-top: 10px;
}

.disabled {
	display: none;
}

